{% extends 'base.html.twig' %}

{% block title %}Список запросов в систему{% endblock %}

{% block body %}
    <div class="row d-flex align-items-center">
        <h1 class="col-10">Список запросов:</h1>
        <a href="{{ path('request.add') }}" class="btn btn-outline-primary col-2">Добавить запрос</a>
    </div>
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th>Номер</th>
                <th>Заголовок</th>
                <th>Статус</th>
                <th>Дата создания</th>
                <th>Автор</th>
            </tr>
            </thead>
            <tbody>
            {% for request in requestList %}
                <tr>
                    <td>{{ request.id }}</td>
                    <td><a href="{{ path('request.show', {'id': request.id}) }}">{{ request.title }}</a></td>
                    <td>{{ request.status }}</td>
                    <td>{{ request.createAt.format('Y.m.d H-m-i') }}</td>
                    <td>{{ request.createdBy }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}