{% include 'base.html.twig' %}

{% block body %}
    <h1>Список запросов:</h1>
    <div>
        <table width="100%" border="1px solid #000">
            <thead>
                <tr>
                    <th>Номер</th>
                    <th>Заголовок</th>
                    <th>Статус</th>
                    <th>Дата создания</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for request in requestList %}
                        <td>{{ request.id }}</td>
                        <td><a href="{{ path('request.show', {'id': request.id}) }}">{{ request.title }}</a></td>
                        <td>{{ request.status }}</td>
                        <td>{{ request.createAt.format('Y.m.d H-m-i') }}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}