{% extends 'base.html.twig' %}


{% block title %}
    Запрос: {{ request.title }}
{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between">
        <a href="{{ path('request.list') }}">К списку</a>
        <a href="{{ path('request.edit', {'id': request.id}) }}">Редактировать</a>
    </div>
    <h1>Запрос: {{ request.title }}</h1>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>Сообщение</th>
                <th>Статус</th>
                <th>Дата создания</th>
                <th>Автор</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ request.message }}</td>
                <td>{{ request.status }}</td>
                <td>{{ request.createAt.format('Y.m.d H-m-i') }}</td>
                <td>{{ request.createdBy }}</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}