{% include 'base.html.twig' %}

{% block body %}
    <a href="{{ path('request.list') }}">К списку</a>
    <h1>Запрос: {{ request.title }}</h1>
    <div>
        <table width="100%" border="1px solid #000">
            <thead>
            <tr>
                <th>Сообщение</th>
                <th>Статус</th>
                <th>Дата создания</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ request.message }}</td>
                <td>{{ request.status }}</td>
                <td>{{ request.createAt.format('Y.m.d H-m-i') }}</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}